body {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    color: #333333; 
    line-height: 1.5;
  }
  
  .upload-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .drag-and-dropdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .drag-and-drop-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .dropzone {
    border: 2px dashed #90caf9;
    width: 500px;
    height: 250px;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropzone:hover {
    background-color: #e3f2fd;
  }
  
  .dropzone.active {
    border-color: #42a5f5;
    background-color: #bbdefb;
  }
  
  .file-info-container {
    text-align: center;
  }
  
  .file-info {
    font-size: inherit; 
    color: inherit;
    margin: 0;
  }
  
  .dropdown-container {
    margin-top: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-group .btn {
    font-family: inherit; 
    font-size: inherit;
    color: #ffffff;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .upload-button {
    font-family: inherit; 
    font-size: inherit; 
    padding: 10px 20px;
    border: 2px solid #4caf50;
    background-color: white;
    color: #4caf50;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .upload-button:hover {
    background-color: #4caf50;
    color: white;
  }
  